<h3>Доставка</h3>
<p>
    Мы доставляем товары — 7 дней в неделю, 24 часа в сутки. Без выходных дней.
</p> 
<p>
    Прием заявок в интернет-магазине ведется круглосуточно.
</p>
<p>
    При оформлении заявки с 09.00 до 19.00 заказы доставляются в день оформления.
</p>
<p>
    Заявки, оформленные позже автоматически переносятся на следующий день.
</p>
<p>
    Также можем доставить товары и в другой удобный для Вас день. Для этого укажите нужную дату в комментарии к заказу.
</p>
<h3 [ngStyle]="{'margin-top': '2rem'}">Тарифы по доставке по городу</h3>
<h4>
    Минимаркеты "NAZEL"
</h4>
<p>
    Минимальный заказ: 2 000 тг.
</p>
<p>
    Стоимость доставки по ближайшим адресам: 300-350 тг.
</p>
<p>
    Стоимость доставки по отдаленным адресам: 500-700 тг.
</p>
<p>
    Желаево, Асан и Плодоовощной: При заказе от 5 000 тг. - доставка 1 000 тг.
</p>
<p>
    Бесплатная доставка от 10 000 тг.
</p>
⠀
<h4>
    Аптеки "NAZEL"
</h4>
<p>
    Минимальный заказ: 1 000 тг.
</p>
<p>
    Стоимость доставки по ближайшим адресам: 300-350 тг.
</p>
<p>
    Стоимость доставки по отдаленным адресам: 500-700 тг.
</p>
<p>
    Желаево, Асан и Плодоовощной: При заказе от 5 000 тг. - доставка 1 000 тг.
</p>
<p>
    Бесплатная доставка от 10 000 тг.
</p>